

"""""""""
Jogo de bar que se chama Bar do Russo, as escolhas serão feitas com opções numéricas de acordo com o avanço do game. 

"""""""""

from colorama import Fore, init

init()

import sys,time,random

def sprint(str):
   for c in str + '\n':
     sys.stdout.write(c)
     sys.stdout.flush()
     time.sleep(3./90)

while True:
   sprint(
      'Bem vindo ao "Boteco don Russo", '
      'como todo o lugar infelizmente a falha é algo inevitavel, mas aqui nesse game é evitavel'
      ' toda a vez que você falhar, você volta ao vai ter que fazer o game todo de novo, tenha cuidado com quem conversa'
      ' (as escolhas seram feitas com atalho rápido, nas escolhas sem numeração responda o que quiser. Sistema de dinheiro, barra de bebida e modo de jogo, não inclusos nem nessa demo e nem na de dia 18 de novembro)'
   )
   print('')
   sprint(Fore.RED + ' !!!ATENÇÃO JOGO HUMORISTICO, QUALQUER SEMELHANÇA COM ALGO REAL É MERA CONHECIDENCIA!!! ')

   #Introdução do jogo

   print(Fore.RESET + '')
   nome = input('Qual o seu nome? ')
   print('')
   sprint('Chegou a sexta feira, dia da semana que o filho chora e a mãe não vê, '
         f'{nome} quer curtir a sua grande noite com tudo que ela pode oferecer,'
         )
   sprint('Você vê que tem um bar novo')

   começo = True

   veiculo = False

   while começo:
      bar = input('(1)Você quer ir a esse bar ou (2)não ir e ficar em casa? ')
      if bar == '1':
         print('')
         sprint('Você decide ir ao bar novo')
         print('')
         veiculo = True
         break
      elif bar == '2':
         print('')
         sprint('Você decide ficar na sua casa assistindo séria e comendo pipoca')
         print('')
         break
      else:
         print('')
         sprint('Não entendi(digite 1 ou 2)')
         pass

   moto = False
   andando = False
   dificuldade = False
   amigo = False

   while veiculo:
      veiculo_que_sera_usado = input('(1)você prefere ir andando ou (2)de moto? ')
      if veiculo_que_sera_usado == '1':
         amigo = True
         andando = True
         print('')
         sprint('você andou bastante até chegar no bar novo')
         print('')
         sprint('INFORMAÇÂO GUARDADA!')
         print('')
         break
      elif veiculo_que_sera_usado == '2':
         amigo = True
         moto = True
         print('')
         sprint('você chegou rapidinho no bar novo')
         print('')
         sprint('INFORMAÇÂO GUARDADA!')
         break
      else:
         print('')
         sprint('Não compreendi(digite 1 ou 2)')
         pass


   personagem1_Jack = False
   personagem1_Jackbravo1=False
   barman = False

   while amigo:
      sprint('Você vê que tem um amigo seu lá')
      print('')
      primeira_fala = input('(1)Vai cumprimenta-lo ou (2)não? ')
      if primeira_fala == '1':
         personagem1_Jack = True
         sprint('Você decide falar com ele')
         print('')
         break
      elif primeira_fala == '2':
         barman = True
         print('')
         sprint('Você ignora o Jack e logo vai falar com o barman')
         break
      else:
         print('')
         print('Não compreendi(digite 1 ou 2)')
         pass

   mapa = False

   while barman:
      print('')
      sprint(f'{nome}: Olá boa noite, poderia me servir uma bebida?')
      print('')
      sprint('Barman: Por que toda essa formalidade amigão, pode ficar à vontade')
      print('')
      sprint('Barman: Temos, vodka, cachaça, whisky, vinho, skol, heineken, brahma, Itaipava...')
      print('')
      sprint('Você acaba não prestando muita atenção nas outras coisas que ele diz')
      print('')
      bebida = input(f'{nome}: Eu gostaria de pedir ')
      print('')
      sprint('Você bate um papo com o Barman e elete conta a História do Bar e que ele e a filha dele reabriram o bar no Brasil, pelo fato do país deles estarem em guerra e eles não apoiarem isso')
      print('')
      sprint('Barman: Você é um bom ouvinte meu jovem, meu nome é Alexandre mas pode e chamar de Lex')
      print('')
      sprint(f'{nome}: meu nome é {nome}, prazer em conhecer o senhor')
      print('')
      explorar = input('Você quer (1)explorar o mapa ou (2)quer ir para sua casa? ')
      if explorar == '1':
         mapa = True
         break
      elif explorar =='2':
         mapa = False
         break
      else:
         sprint('Só números')
         pass
   #fim do dialogo com o Lex

   pergunta = False

   while personagem1_Jack:
      print('')
      sprint(f'{nome}: Fala ai Jack! ')
      print('')
      sprint('Jack: Eae, veio aproveitar a sexta?')
      print('')
      sprint(f'{nome}: Sim, essa semana foi tortura')
      print('')
      sprint('Jack: Vou ficar aqui com você na mesa vlw? e me paga uma cerveja ai')
      print('')
      sprint(f'{nome}: Mas Jack sou eu que to em pé')
      print('')
      sprint('Vocês começam a rir da situação')
      print('')
      sprint('Jack: Mas ai namoral, paga uma breja ai?')
      print('')
      decisam = input('(1)Deixar Jack sózinho e explorar o mapa ou (2)bater um papo com Jack')
      if decisam == '1':
         print('')
         sprint('Jack, vou ter que vazar, vai dar não')
         mapa = True
         break
      elif decisam == '2':
         print('')
         sprint(f'{nome}: Ta bom mano, desce uma cerveja pra esse maluco aqui!')
         print('')
         sprint('Você olha pro banheiro feminino e tem uma leve impressam de ter visto um rosto conhecido indo pra dentro do banheiro')
         print('')
         sprint(f'Jack: O que é que foi hein {nome}, ta de olho em alguma gatinha? ')
         print('')
         pergunta = True
         break
      else:
         print('')
         sprint('Números por favor!')

   personagem1_JackSim = False
   personagem1_JackNão = False
   personagem1_Jackbravo = False
   Deixar_ele_sozinho = False
   Desculpas = False
   Porrada = False    

   while pergunta:
      print('')
      pandora = input('Chegou a hora, qual decisão será feita, você vai falar que (1)sim, vai dizer que (2)não ou (3)Ser grosso')
      print('')
      if pandora =='1':
         personagem1_JackSim = True
         break
      elif pandora == '2':
         personagem1_JackNão = True
         break
      elif pandora == '3':
         personagem1_Jackbravo = True
         break
      else:
         print('')
         sprint('Números por favor!')
         pass

   while personagem1_JackNão:
      sprint(f'{nome}: Não')
      print('')
      sprint('Jack não acredita muito em você mas deixa quieto')
      print('')
      break

   while personagem1_JackSim:
      sprint(f'{nome}: Sim')
      print('')
      sprint('Jack da um sorrisinho malicioso')
      print('')
      sprint('Jack, louco do jeito que é, zoa falando pra você entrar no banheiro feminino quando ninguém estiver olhando')
      print('')
      resp = input('O que você vai decidir (1)Dar uma de maluco e entrar (2)Não fazer essa maluquice? ')
      if resp == '1':
         sprint(f'{nome}: Boa idéia')
         print('')
         sprint('Você entra no banheiro feminino e avista sua ex e ela liga pra policia')
         print('')
         sprint(f'{nome}: Desculpa, errei fui muleque')
         print('')
         sprint('Você foi preso')
         break
      
      elif resp == '2':
         print('')
         sprint(f'{nome}Vai se lascar, duente')
         print('')
         sprint('Jack acha engraçado')
         print('')
         sprint('você vai pra perto do banheiro feminino e vê sua...')
         sprint('Você chegou ao limite da demo, para saber o desfecho dessa história apareça no dia 18 de novembro')
         break
      
      else:
         print('')
         sprint('Não tem essa opção')
         pass

   while personagem1_Jackbravo:
      sprint(f'{nome}:E o quico?')
      print('')
      sprint('Jack:É O QUE MENOR!? ')
      sprint('Jack fica com muita raiva e bate na mesa')
      print('')
      sprint('Todo mundo do bar vira a atenção para vocês')
      personagem1_Jackbravo1 = True
      break

   while personagem1_Jackbravo1:
      resposta = input(sprint('O que você ira fazer? (1)Pedir desculpas e acalmar Jack (2)Descer a porrada no Jack ou (3)Deixar ele falando sozinho'))
      
      if resposta == '1':
         print('')
         sprint('Desculpa errei, fui muleke')
         Desculpas = True
         break
      
      elif resposta == '2':
         sprint(f'{nome}: Cala a boca maluco!!')
         print('')
         sprint('role os dados para ver se você tem sorte')
         Porrada = True
         break
      
      elif resposta == '3':
         Deixar_ele_sozinho = True
         break
      
      else:
         print('')
         sprint('Jack: repete paspalho!!')
         pass

   while Desculpas:
      print('')
      sprint('Jack não acredita muito em você, mas deixa quieto a situação')
      break

   while Porrada:
      dado = random.randrange(1,6)
      if dado < 3:
         sprint('+3 Você da tanta porrada na cara do Jack que ele chora')
         sprint('Vocês são expulsos do bar e tem uma divida de 2 mil reais por danos')
         break

      else:
         sprint('-3 Você toma um Jab de esquerda e é nocauteado')
         sprint('Vocês são expulsos do bar e tem uma divida de 2 mil reais por danos')
         break
         
   while Deixar_ele_sozinho:
      print('')
      sprint('Você deixa Jack sózinho')
      mapa = True
      break

   Guilherme = False

   while mapa:
      print('')
      sprint('(1)Ir para perto do banheiro Feminino ver se há alguma conhecida ou (2)ir ao banheiro masculino')
      respos = input('')
      if respos == '1':
         print('')
         sprint('você vai pra perto do banheiro feminino e vê sua...')
         sprint('Você chegou ao limite da demo, para saber o desfecho dessa história apareça no dia 18 de novembro')
         break
      elif respos == '2':
         print('')
         sprint('Você vai até o banheiro masculino')
         Guilherme = True
         break
      else:
         print('')
         sprint('Lugares novos só no dia 18 de novembro')
         pass

   beber = False

   while Guilherme:
      print('')
      sprint('Chegando lá você ouve uma voz dizendo: To sentindo cheiro de coelinho rosa')
      grandam = input('O que você irá fazer??!! (1)Fugir (2)ficar e encarar (3)fingir que não ouviu')
      if grandam == '1':
         print('')
         sprint('Você corre pra caramba e vai pra casa')
         break
      elif grandam == '2':
         sprint('Desconhecido: Senti sua falta nos treinos')
         print('')
         sprint(f'{nome}: Espera ai, Guilherme?')
         print('')
         sprint('Guilherme: Quer fazer um agachamante não? ')
         print('')
         sprint(f'{nome}: Você bebeu vodka ou agua de coco?')
         print('')
         sprint('Guilherme: Pra mim tanto faz')
         sprint('Guilherme: Quer beber comigo? ')
         beber = True
         break
      elif grandam == '3':
         sprint('Você sente uma mão no seu ombro')
         sprint('você vira pra trás e é Guilherme seu amigo da academia ')
         print('')
         sprint(f'{nome}: Qual é Guilherme ta de vacilação')
         print('')
         sprint('Guilherme: Ta faltando bastante nos treinos hein ')
         print('')
         sprint(f'{nome}: Cara to sem foco na academia')
         print('')
         sprint('Guilherme te faz um discurso motivacional para você se animar pra ir a academia e depois despenca no chão')
         print('')
         sprint('Você chama uma hambulancia pra ele, depois disso você vê que está tarde e volta pra sua casa')
         break
      else:
         print('')
         sprint('Números por favor!')
         pass

   while beber:
      beberres = input('(1)Você vai beber com Ghilherme ou (2)Vai tentar deixa-lo sóbrio')
      if beberres == '1':
         print('')
         sprint('Vocês beberam a noite toda e esqueceram do resto, você acordano dia seguinte na cama do guilherme sem sentir suas pernas direito, você olha o grupo da empresa e jack vazou seus videos com o guilherme no bar')
         break
      elif beberres == '2':
         print('')
         sprint('Você vai trocando a vodka dele por água e deixand ele sóbrio, após isso deixa ele na casa dele')
         break

      else:
         print('')
         sprint('Números por apenas!')
         pass

   while andando:
      print('')
      sprint('pra você que foi andando, assalto só na atualização, dia 18 de novembro')
      break

   while moto:
      print('')
      sprint('SE BEBER NÃO DIRIJA!!!!')
      break

   sprint('Fim de jogo! Obrigado Por jogar!')
   print('')
   sprint('------Créditos----')
   sprint('Victor Hugo Oliveira')
   sprint('Igor Silva azeredo')
   sprint('Gabriel de Souza Brito')

   Encerrarmento = True

   while Encerrarmento:
      encerrar = input('Aperte enter para jogar novamente ')
      if encerrar == '':
         print('')
         sprint('Até logo!')
         break
      else:
         print('')
         sprint('É enter rapa, lê ai')
         pass
   pass